@import '../../../style/variables.scss';

.password_wrapper {
    display: flex;
    align-items: center;
    background-color: $main-color;
    height: 93.7vh;
    & form {
        border-radius: 10%;
    }
}